---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="About Uerk.Autos">
  <main>
    <h1>Who we are:</h1>

    <div class="instructions">
      <h2>The Bronze Rage</h2>
      <p>...was born in 2006 in NW Ohio. This 1969 Plymouth Satellite was originally brought home with a 318 cu. in. small block motor - this was QUICKLY corrected, alongside other sins of the previous owner (who the hell puts moon covers on a late 60s Mopar?)</p>
    </div>
    <div class="instructions">
        <h2>The Team</h2>
        <p>Keith is the mastermind behind this mean son-of-a-bitch. With the help of his brother Brian and son Kyle, Keith has dropped in a 440 Big Block, 3 speed sequential race transmission, new cooling and fuel delivery systems, and enough <em>ass</em> to knock you off yours!</italic></p>
    </div>
    <div class="instructions">
        <h2>A Beast Sleeps...</h2>
        <p>For now the streets are safe from this monstrous machination. But, the same is not true for 2024!</p>
    </div>
  </main>
</Layout>
