---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import MySlider from "../components/MySlider";
---

<Layout title="Uerk.Autos - #1 Mopar">
  <main>
    <h1 class="">Uerk.<span class="text-gradient">Autos</span></h1>
    <div class="instructions">
      <h2>Midwest's #1 Mopar</h2>
      <p>Runs a <strong>12.10</strong> second quarter mile. Check us out!</p>

      <MySlider client:load />
    </div>

    <ul role="list" class="link-card-grid">
      <Card
        href="https://www.youtube.com/watch?v=q8zmTD-gNVQ&t=3s"
        title="Watch"
        body="See a tour of the Bronze Rage"
      />
      <Card href="/specs" title="Specs" body="Checkout what we're rocking" />
      <Card
        href="/about"
        title="About Us"
        body="Learn about the Uerk.Autos team"
      />
      <Card
        href="mailto:team@uerk.autos"
        hideArrow={true}
        title="Get in touch with us"
        body="Send us an inquiry, and we'll get back to you"
      />
    </ul>
  </main>
</Layout>

<style></style>
