---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="About Uerk.Autos">
    <main>
      <h1>The Guts:</h1>
  
      <div class="instructions">
        <h2>Drivetrain</h2>
        <p>Rebuilt from a 440 cu. in. big block, naturally aspirated, and pumping high octane fuel - this grumpy engine has seen lots of tweaking to get it running as fast and cool as it does now. While it sucks down fuel and could heat a mansion in a blizzard, it kicks out enough horsepower to get down the tarmac well over 100 mph</p>
      </div>
      <div class="instructions">
          <h2>The Iconic Paint Job</h2>
          <p>The much coveted <strong>T5 Paint Job</strong> gives our Bronze Rage its titular hue when rolling up. You don't see too many of these cars around in this kind of paint option anymore, and we love that ours stands out the way it does!</p>
      </div>
      <div class="instructions">
          <h2>Fuel, Fires, Smoking Tires</h2>
          <p>With a custom fuel system, line lock, and the largest slicks we could fit on this thing: it gets going <strong>QUICK!</strong> So far we're looking at a 12.39 sec quarter mile.</p>
      </div>
    </main>
  </Layout>